*
{
    padding: 0;
    margin: 0;
    font-family: 'Coolvetica',sans-serif;
    box-sizing: border-box;
}

.hero
{
    height: 100vh;
    width: 100%;
    background-image: url(fille.png);
    background-size: cover;
    background-position: center;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right:8% ;
}

.logo
{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span
{
    color:#4507ff;
}
nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a 
{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover
{
    color:#4507ff;
    transition: .4s;
}
.btn
{
    background-color:#4507ff;
    color: white;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 5px;
    transition: transform .4s;
}
.btn:hover
{
    transform: scale(1.2);
}

.content
{
    position: absolute;
    top: 50%;
    left:22%;
    transform: translate(-50%);
}
h1
{
    color: white;
    font-family: 'Coolvetica';
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3
{
    color: white;
    font-size: 25px;
    font-family: 'Outfit';
    margin-bottom: 50px;
}
h4
{
    color:#e5e2eb;
    font-family: 'Outfit';
    letter-spacing: 2px;
    font-size: 20px;
}
.about
{
    width: 100%;
    padding: 100px 0px;
    background-color: #e1e5e9; ;
}

.about img
{
    left: 10%;
    height: auto;
    width:500px;
} 
.about-text
{
    width: 550px;
    left: 22%;
}
.main
{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2
{
    color:#4507ff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5
{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p
{
    letter-spacing:1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}

button
{
    background-color:#4507ff ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .4s;
    font-size: 20px;
    width:50%;
    height:50%;
}
button:hover
{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

.service
{
    background: #4507ff;
    width: 100%;
    padding: 100px 0px;
}
.title h2
{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card
{
    height: 365px;
    width: 335px;
    padding:20px 35px;
    background: #e1e5e9;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i 
{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#e1e5e9 ;
}
h5
{
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p
{
    color: black;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
}

.card .button
{
    background-color: #4507ff;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius:5px;
    transition: .4s;
}
.card .button:hover
{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

.contact-me
{
    width:100%;
    height: 290px;
    background: #383939;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p
{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}

.contact-me .button-two
{
    background-color: #4507ff;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius:5px;
    transition: .4s;
}
.contact-me .button-two:hover
{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}