*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Coolvetica', sans-serif;
}

body
{
    display:flex;
    height: 100vh;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background:#4507ff;
}

.container
{
max-width: 500px;
width: 100%;
background:  #f1f3f5;
padding: 25px 30px;
border-radius: 5px;
}

.container .title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before
{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#6f42c1,#4507ff);
}

.container form .user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box
{
    margin-bottom: 16px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box input
{
   height: 45px;
   width: 100;
   outline-color:none ;
   border-radius: 5px;
   border: 1px solid #6f42c1;
   padding-left: 15px;
   font-size: 16px;
   border-bottom-width:2px;
   transition: all 0.3s ease;
}
.user-details .input-box input :focus,
.user-details .input-box input :valid
{
 border-color: #ffc107;
}

form .gender-details .gender-title
{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category
{ 
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details.category label
{
 display: flex;
 align-items: center;
}
.gender-details.category.dot-
{ 
  height: 18px;
  width: 10px;
  background: #ffc107;
  border-radius: 50%;
  margin-right: 10px;
  border: 5 px solid transparent;
}

form.button
{
    height: 45px;
    margin: 45px 0;
}
form .button input
{
    height: 100%;
    width:  100%;
    outline-color: none;
    color: #f8f9fa;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    background: #4507ff;
    
}
form .button input:hover
{
    background: #4507ff;
}

@media(max-width: 584px) 
{
    .container
   {
    max-width: 100%;
   }
   form .container form .user-details.input-box
   {
       margin-bottom: 16px;
       width:100%;
   }
   form .gender-details .category
   { 
    width: 100%;
   }
   .container form .user-details
   {
    max-height: 300px;
    overflow-y: scroll;
   }
   .user-details::-webkit-scrollbar
   {
    width: 0;
   }
}